[user]
	email = ckershaw@umich.edu
	name = Carl Kershaw
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	last = log -1 HEAD
[push]
	default = simple
[core]
	editor = vim
[merge]
	tool = vim
